PORT=3001

DOCKER_IMAGE=my-manim-worker

S3_BUCKET_NAME=manim-v1-worker
AWS_REGION=your-aws-region
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key

MOTION_HOST_ORIGIN=https://motion-host.com

USE_MANIM_DOCKER=true